<div id="input" class="working-tab">

	<form action="competitivity/api/add" method="post">
		<% Object.keys(parameters).forEach(function(param) { %>
				<%=parameters[param]%>:<br>
				<input type="text" name='<%=param%>' value='<%=param%>' ><br>
		<% }); %>

		<br><br>
  	<input type="submit" value="Submit">

	</form>

</div>
