<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
	<title># data-collector-Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="stylesheets/style.css">
</head>


	<body>
		<div class="container">
			<div class="header clearfix">
				<nav>
					<ul class="nav nav-pills pull-right">
						<li role="presentation"><a href="/">Home</a></li>
						<li role="presentation"><a href="/about">About</a></li>
						<li role="presentation"><a href="/contact">Contact</a></li>
					</ul>
				</nav>
				<h3 class="text-muted">#data-collector</h3>
			</div>

			<div class="row">

					<div class="login">

						<div class="col-sm-6 col-sm-offset-3">

						<h1><span class="fa fa-sign-in"></span> Login </h1>

						<form action="/login" method="post">

							<div class="form-group">
								<label>Email</label>
								<input type="text" class="form-control" name="email">
							</div>

							<div class="form-group">
								<label>Password</label>
								<input type="password" class="form-control" name="password">
							</div>

							<button type="submit" class="btn btn-primary btn-lg">Login</button>
						</form>

						<% if (message.length > 0) { %>
							<div class="alert alert-danger"><%= message %></div>
						<% } %>

						<p>Need an account? <a href="/signup">Signup</a></p>
						<p>Or go <a href="/">home</a>.</p>
					</div>

				</div>

			</div>

			<footer class="footer">
				<p>&copy; 2016 Company, Inc.</p>
			</footer>

	</div>
</body>

</html>
