/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  margin-top: 10px;
  padding-top: 15px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron h1{
  padding-top: 20px;
  padding-bottom: 20px;
}
.jumbotron .btn {
  padding: auto;
  font-size: 18px;
  width: 200px;
  height: 40px;
}

.contact{
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.contact p{
  font-size: 18px;
  text-align: left;
}

.about {
  padding: inherit;
  font-size: 14px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.about .row p{
  padding: inherit;
  color: grey;
  text-align: justify;
}
.about .row h1{
  padding: inherit;
  text-align: left;
  color: rgb(22, 105, 173);
}

/*.login input.form-control{
  width: 300px;
}*/

.login form {
  padding-bottom: 20px;
  padding-top: 20px;
}
.login .btn {
  padding: auto;
  font-size: 14px;
  width: 120px;
  height: 40px;
}
.login .alert {
  text-align: center;
}

.dash-head {
  padding: inherit;
}
.dash-head h1{
  text-align: right;
  color: grey;
}

.modules{
  padding: inherit;
}
.modules .row{
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
}
.modules h3 {
  color: grey;
}
.modules .well {
  border-radius: 20;
  background: rgb(22, 105, 173);
  height: 60px;
  margin: 10px;
  color: white;
  padding: 5px;
}
.modules .row p.tittle{
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
  color:white;
}
.modules .nav-tab{
  padding: inherit;
}
.modules h2 {
  color: rgb(22, 105, 173);
  text-align: left;
}

.modules .working-area {
  color:grey;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
