<div class="row">
  <h2 aling="left"> Competitividad </h2>
  <ul class="nav nav-tabs">
    <li><a href="/competitivity">Descripción</a></li>
    <li><a href="/competitivity/create">Crear</a></li>
    <li><a href="/competitivity/edit">Editar</a></li>
    <li><a href="/competitivity/results">Resultados</a></li>
  </ul>
</div>
