<!doctype html>
<html lang="en">

  <head>
    <title># data-collector - about</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/about">About</a></li>
            <li role="presentation"><a href="/contact">Contact</a></li>

            <% if (user) { %>

              <li class="dropdown" role="presentation">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> User
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>

						<% } %>
            
          </ul>
        </nav>
        <h3 class="text-muted">#data-collector</h3>
      </div>

      <div class="about">
        <div class="row">
            <h1> Misión </h1>
            <p>
              Generar herramientas para el análisis económico para la recolección y administración de información, que permitan la toma de decisiones de manera acertada y oportuna.
            </p>

            <h1>Visión </h1>
            <p>
              Para 2027 ser reconocidos como la mejor empresa para la recopilación y análisis de datos de Colombia y destacándonos por la calidad y efectividad de nuestros servicios.
            </p>
          </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
  </body>


</html>
