<!doctype html>
<html lang="en">

  <head>
    <title># data-collector - about</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

  <body>
    <div class="container">

      <%- include('../partials/navbar') %>

      <div class="about">
        <div class="row">
            <h1> Misión </h1>
            <p>
              Generar herramientas para el análisis económico para la recolección y administración de información, que permitan la toma de decisiones de manera acertada y oportuna.
            </p>

            <h1>Visión </h1>
            <p>
              Para 2027 ser reconocidos como la mejor empresa para la recopilación y análisis de datos de Colombia y destacándonos por la calidad y efectividad de nuestros servicios.
            </p>
          </div>
      </div>

      <%- include('../partials/footer') %>

    </div> <!-- /container -->
  </body>


</html>
