<!doctype html>
<html lang="en">

  <head>
    <title># data-collector</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

  <body>

    <div class="container">

      <%- include('../partials/navbar') %>

      <div class="jumbotron">
        <h1>#data-collector</h1>
        <p><a class="btn btn-lg btn-primary" href="/login" role="button">Login</a></p>
        <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Signup</a></p>
      </div>

      <%- include('../partials/footer') %>

    </div> <!-- /container -->
  </body>


</html>
